/* ==========================================================================
  CSS Reset
  ========================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================================================================
  General
  ========================================================================== */
body {
    background-color: #fff;
}

.button {
    margin: 12px;
    padding: 12px 16px;
}

/* ==========================================================================
  Custom Theme (Activated by JavaScript Button)
  ========================================================================== */
.customtheme {
    background-color: #000;
}

.customtheme header {
    background-color: #fff;
}

.customtheme h1 {
    color: blueviolet;
}